/Etapa Conceitualizar - Atividade de experimentação 59.py
/Etapa Conceitualizar - Atividade de experimentação 60.py
/Etapa Conceitualizar - Atividade de experimentação 61.py
/Etapa Conceitualizar - Atividade de experimentação 62.py
/Etapa Consolidar - 1 Algoritmo de captura.py
/Etapa Consolidar - 2 Algoritmo de treinamento.py
/Etapa Consolidar - 3 Algoritmo de reconhecimento eigenface.py
/Etapa Consolidar - 4 Algoritmo de reconhecimento fisherface.py
/Etapa Consolidar - 5 Algoritmo de reconhecimento lbph.py
/Material_complementar_reconhecimento_facial.zip (Unzipped Files)-20240502T042828Z-001.zip